{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead", // Modern browsers and active environments
        "useBuiltIns": "entry", // Polyfill management
        "corejs": "3" // Explicit CoreJS version
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic", // Enable new JSX transform
        "importSource": "preact" // Optimize for Preact
      }
    ]
  ]
}